html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url('background.png');
  background-size: 200px;
  color: white;
  overflow: hidden;
  font-family: 'Ubuntu Mono', monospace;
}

#toast {
  width: 200px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@media (max-width: 600px) {
  #toast {
    width: 150px;
  }
}

#start {
  font-family: 'Ubuntu Mono', monospace;
  outline: none;
  border: none;
  font-size: 50px;
  background: #B8844A;
  color: white;
  box-shadow: 6px 6px #B49971;
  transition-duration: .3s;
  cursor: pointer;
  margin-bottom: 40px;
}

#start:hover {
  box-shadow: 10px 10px #B49971;
}

.banner-parent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 100%;
  background: RGBA(0,0,0,0.5);
}

.banner-child {
  font-size: 300%;
  text-align: center;
}

.hide {
  transform: translate(200%, 200%);
}
